h1{
    color:#505BE6 ;
    font-family:'Times New Roman', Times, serif;
}
h2{
    color:#53BAE6 ;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: "20px";
}
a{
    font-size: x-large;
}